$navBackground: #25313f;
$borderColor: #213e543d;
$darkGreen: #1f7a54;
$lightGreen: #3fd28b;
$menuBackground: #8ddc97;
$primaryText: #222222;
$secondaryText: #666666;
$red: #d80000;
$lightRed: #ffe4e6;
$lightBlue: #3ac7ec;
