@import "./base";
@import "./colors";

nav {
    @include flexCenter(center, space-between);
    background-color: $navBackground;
    background-image: url(../assets/icons/header_pattern.svg);
    background-size: cover;
    background-blend-mode: hard-light;
    height: 56px;
    padding: 0 32px;

    div {
        @include flexCenter(center, center);
    }
}

.navbar-nav {
    @include flexCenter(center, center);

    li {
        list-style: none;
        margin-left: 22px;
        margin-top: 4px;
        height: 52px;
        @include flexCenter(center, center);
        border-bottom: 4px solid transparent;

        a {
            text-decoration: none;
            color: $lightGreen;
            padding: 0 5px;
            font-size: 14px;
        }

        &.active {
            border-bottom: 4px solid #fff;

            a {
                color: #fff;
            }
        }
    }
}

.alert-icons {
    @include flexCenter(center, center);
    li {
        position: relative;
        list-style: none;
        margin-left: 32px;
        margin-top: 4px;
        height: 52px;
        @include flexCenter(center, center);
        border-bottom: 4px solid transparent;

        a {
            text-decoration: none;

            img {
                width: 25px;
            }
        }
    }

    .badge {
        @include flexCenter(center, center);
        position: absolute;
        top: 3px;
        right: -5px;
        min-width: 18px;
        height: 18px;
        border-radius: 10px;
        font-size: 12px;

        &.blue {
            color: white;
            background-color: #2a7ff3;
        }
        &.white {
            color: $navBackground;
            font-weight: bold;
            font-size: 10px;
            background-color: #fff;
        }
    }

    // li:nth-child(1) a img {
    //     width: 21px;
    //     height: 24px;
    // }
    // li:nth-child(2) a img {
    //     width: 20px;
    //     height: 20px;
    // }
    // li:nth-child(3) a img {
    //     width: 32px;
    //     height: 32px;
    // }
}

.nav-logo {
    display: flex;
}

.hamburger-menu {
    display: none;
    background: transparent;
    border: none;
}

@media screen and (max-width: 1000px) {
    .navbar-nav {
        display: none;

        &.active {
            display: flex;
            position: fixed;
            background: $navBackground;
            top: 56px;
            left: 0;
            width: 100%;
            flex-direction: column;
            z-index: 99;

            li {
                height: 35px;
                margin: 10px;
            }
        }
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        right: 30px;
        z-index: 99;

        img {
            width: 32px;
        }
    }

    .alert-icons {
        position: absolute;
        right: 94px;
    }
}
